/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#containersView > richlistitem {
  -moz-binding: none;
}

/**
 * Make the icons appear.
 * Note: we display the icon box for every item whether or not it has an icon
 * so the labels of all the items align vertically.
 */
.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  display: -moz-box;
  min-width: 16px;
}

/* Apply crisp rendering for favicons at exactly 2dppx resolution */
@media (resolution: 2dppx) {
  #handlersView > richlistitem,
  .actionsMenu > menupopup > menuitem > .menu-iconic-left {
    image-rendering: -moz-crisp-edges;
  }
}

.password-managers {
  margin-top: 10px;
}

.privacy-managers {
  margin-top: 30px;
}

.cliqz-feature {
  -moz-box-orient: vertical;
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#cliqz-feature");
  padding: 5px;
}

.cliqz-feature .version {
  color: gray;
  padding-left: 5px;
}

.cliqz-feature[status="new"] .addon-control.remove,
.cliqz-feature[status="new"] .version {
  display: none;
}

.cliqz-feature[status="installed"] .addon-control.install {
  display: none;
}

.cliqz-feature .icon {
  width: 48px;
  height: 48px;
  margin: 3px 7px;
  -moz-box-align: center;
  -moz-box-pack: center;
}

.cliqz-feature .name {
  font-weight: bold;
}

.cliqz-feature .homepage-container {
  margin-right: 10px;
}
