/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../../shared/incontentprefs/preferences.inc.css

html *,
page *,
window * {
  font-size: 1.25rem;
}

caption > label:not(.dialogTitle) {
  font-size: 1.42rem;
}

<<<<<<< HEAD
  #category-advanced > .category-icon {
    list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#advanced-native");
  }

  #category-connect > .category-icon {
    list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#connect-native");
  }
||||||| merged common ancestors
  #category-advanced > .category-icon {
    list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#advanced-native");
  }
=======
.tip-caption,
.help-button {
  font-size: 1.08rem;
>>>>>>> origin/upstream-releases
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  margin-inline-end: 9px;
}

filefield + button {
  margin-inline-start: -4px;
<<<<<<< HEAD
}

#advancedPrefs, #connectPrefs {
  padding-bottom: 0; /* override padding from normal preferences.css */
}

#fxaProfileImage {
  -moz-user-focus: normal;
}

/**
 * Dialog
 */

#dialogTitle {
  font-size: 1em;
||||||| merged common ancestors
}

#advancedPrefs {
  padding-bottom: 0; /* override padding from normal preferences.css */
}

#fxaProfileImage {
  -moz-user-focus: normal;
}

/**
 * Dialog
 */

#dialogTitle {
  font-size: 1em;
=======
  margin-top: 4px;
  margin-bottom: 4px;
>>>>>>> origin/upstream-releases
}
