<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" class="private">
  <head>
    <link
        rel="stylesheet" type="text/css" media="all"
        href="chrome://browser/content/aboutPrivateBrowsing.css"
        />
    <title data-l10n-id="cliqzPrivateBrowsing-title"></title>
    <script src="chrome://browser/content/aboutPrivateBrowsing.js"></script>
    <link rel="localization" href="browser/cliqzPrivateBrowsing.ftl"/>
  </head>

  <body>
    <div id="isNormalWindow" class="hidden">
      <p data-l10n-id="cliqzPrivateBrowsing-notForget"></p>
      <button id="startPrivateBrowsing"
        class="showNormal" data-l10n-id="cliqzPrivateBrowsing-openForgetWindow"></button>
    </div>
    <div id="isForgetWindow">
      <div id="header">
        <p data-l10n-id="cliqzPrivateBrowsing-header"></p>
      </div>
      <div id="logo">
      </div>
      <div id="main">
        <p id="explanation"  data-l10n-id="cliqzPrivateBrowsing-explanation"></p>
        <p id="note"  data-l10n-id="cliqzPrivateBrowsing-note"></p>
        <a
          href="https://cliqz.com/support/automatic-forget-mode"
          data-l10n-id="cliqzPrivateBrowsing-learnMore"
        ></a>
      </div>
    </div>
  </body>
</html>
