/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* General Pane */
#useFirefoxSync,
#getStarted {
  font-size: 90%;
}

#isNotDefaultLabel {
  font-weight: bold;
}

/* Content Pane */
#translationAttributionImage {
  width: 70px;
  cursor: pointer;
}

/* Modeless Window Dialogs */

.actionButtons {
<<<<<<< HEAD
  margin: 0px 3px 6px 3px !important;
}

#connectPrefs {
  margin-left: 0;
  margin-right: 0;
}

/* bottom-most box containing a groupbox in a prefpane. Prevents the bottom
   of the groupbox from being cutoff */
.bottomBox {
  padding-bottom: 4px;
}

/**
 * Clear Private Data
 */
#SanitizeDialogPane > groupbox {
  margin-top: 0;
||||||| merged common ancestors
  margin: 0px 3px 6px 3px !important;
}

/* bottom-most box containing a groupbox in a prefpane. Prevents the bottom
   of the groupbox from being cutoff */
.bottomBox {
  padding-bottom: 4px;
}

/**
 * Clear Private Data
 */
#SanitizeDialogPane > groupbox {
  margin-top: 0;
=======
  margin: 0px 3px 6px 3px;
>>>>>>> origin/upstream-releases
}

%ifdef MOZ_SERVICES_SYNC
/* Sync Pane */

#noFxaAccount {
  line-height: 1.2em;
}

#noFxaAccount > label:first-child {
  margin-bottom: 0.6em;
}

%endif
