/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/preferences/preferences.inc.css

/* Global rules */
body {
  font-size: 1.25em;
}

/* Modeless Window Dialogs */

.actionButtons {
  margin: 0 3px 6px;
}
<<<<<<< HEAD

%ifdef MOZ_SERVICES_SYNC
/* Sync Pane */

#noFxaAccount {
  line-height: 1.2em;
}

#noFxaAccount > label:first-child {
  margin-bottom: 0.6em;
}

%endif
||||||| merged common ancestors

/* Sync Pane */

#noFxaAccount {
  line-height: 1.2em;
}

#noFxaAccount > label:first-child {
  margin-bottom: 0.6em;
}
=======
>>>>>>> origin/upstream-releases
