/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/preferences/preferences.inc.css

body {
  font-size: 1.36em;
}

tabpanels {
  padding: 20px 7px 7px;
}

#browserUseCurrent,
#browserUseBookmark,
#browserUseBlank {
  margin-top: 10px;
}

#advancedPrefs, #connectPrefs {
  margin: 0 8px;
}

#privacyPrefs {
  padding: 0 4px;
}

#privacyPrefs > tabpanels {
  padding: 18px 10px 10px;
}

#OCSPDialogPane {
  font: message-box !important;
}

/**
 * Update Preferences
 */
#autoInstallOptions {
  margin-inline-start: 20px;
}

.updateControls {
  margin-inline-start: 10px;
}
<<<<<<< HEAD

%ifdef MOZ_SERVICES_SYNC
/* ----- SYNC PANE ----- */

#noFxaAccount {
  line-height: 1.2em;
}

#noFxaAccount > label:first-child {
  margin-bottom: 0.6em;
}

%endif
||||||| merged common ancestors

/* ----- SYNC PANE ----- */

#noFxaAccount {
  line-height: 1.2em;
}

#noFxaAccount > label:first-child {
  margin-bottom: 0.6em;
}
=======
>>>>>>> origin/upstream-releases
